name: Main

on:
  [push, pull_request]

jobs:
  mac-test:
    name: Mac Test
    runs-on: macOS-latest

    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Build and test
        env:
         WORKSPACE: "-workspace SWXMLHash.xcworkspace"
         ACTION: "build-for-testing test-without-building"
        run: |
          set -o pipefail
          xcodebuild $ACTION $WORKSPACE -scheme "SWXMLHash OSX" | xcpretty
          xcodebuild $ACTION $WORKSPACE -scheme "SWXMLHash iOS" -sdk iphonesimulator -destination "OS=13.3,name=iPhone 11" | xcpretty
          xcodebuild $ACTION $WORKSPACE -scheme "SWXMLHash tvOS" -sdk appletvsimulator -destination "name=Apple TV" | xcpretty
          xcodebuild build $WORKSPACE -scheme "SWXMLHash watchOS" -sdk watchsimulator | xcpretty
          bash <(curl -s https://codecov.io/bash) -t ${{secrets.CODECOV_TOKEN}}

  linux-test:
    name: Linux Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Build and test
        run: |
          eval "$(curl -sL https://gist.githubusercontent.com/kylef/5c0475ff02b7c7671d2a/raw/9f442512a46d7a2af7b850d65a7e9bd31edfb09b/swiftenv-install.sh)"
          swift test


